In [3]:
import pandas as pd

In [4]:
s = pd.Series([1, 4, 6, 5, 7, 10, 6])
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
dtype: int64

In [5]:
s[0:5]

0    1
1    4
2    6
3    5
4    7
dtype: int64

In [6]:
s.describe()

count     7.000000
mean      5.571429
std       2.760262
min       1.000000
25%       4.500000
50%       6.000000
75%       6.500000
max      10.000000
dtype: float64

In [7]:
s.mean() #media

5.571428571428571

In [8]:
s.median() #valor mediano

6.0

In [9]:
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [10]:
s2 = pd.Series([11, 5, 8])
s = s.append(s2)
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
0    11
1     5
2     8
dtype: int64

In [15]:
df = pd.DataFrame(
    [['fchollet/keras', 11302], ['openai/universe', 4350], ['pandas-dev/pandas', 8168]]
)
df.shape #dimensão

(3, 2)

In [16]:
df #tabela

                   0      1
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [11]:
df = pd.DataFrame(
    [['fchollet/keras', 11302], ['openai/universe', 4350], ['pandas-dev/pandas', 8168]],
    columns=['repository', 'stars']
)
df

          repository  stars
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [18]:
df['stars']

0    11302
1     4350
2     8168
Name: stars, dtype: int64

In [19]:
df['repository']

0       fchollet/keras
1      openai/universe
2    pandas-dev/pandas
Name: repository, dtype: object

In [20]:
df['stars'].mean()

7940.0

In [21]:
df.iloc[1]

repository    openai/universe
stars                    4350
Name: 1, dtype: object

In [22]:
df.iloc[1]['stars']

4350

In [12]:
cp = pd.DataFrame(
[
    ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
    ['PB', 'Paraíba', 'João Pessoa'], ['SP', 'São Paulo', 'São Paulo'],
    ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'Ceará', 'Fortaleza'],
    ['AC', 'Acre', 'Rio Branco'], ['MA', 'Maranhão', 'São Luís'],
    ['PR', 'Paraná', 'Curitiba'], ['RS', 'Rio Grande do Sul', 'Porto Alegre']
], columns=['Sigla', 'Nome', 'Capital']
)

cp['Sigla']

0    PE
1    RJ
2    PB
3    SP
4    MG
5    CE
6    AC
7    MA
8    PR
9    RS
Name: Sigla, dtype: object

In [25]:
cp.index

RangeIndex(start=0, stop=10, step=1)

In [33]:
cp.iloc[:3]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [13]:
cp.index = pd.Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
cp

   Sigla               Nome         Capital
1     PE         Pernambuco          Recife
2     RJ     Rio de Janeiro  Rio de Janeiro
3     PB            Paraíba     João Pessoa
4     SP          São Paulo       São Paulo
5     MG       Minas Gerais  Belo Horizonte
6     CE              Ceará       Fortaleza
7     AC               Acre      Rio Branco
8     MA           Maranhão        São Luís
9     PR             Paraná        Curitiba
10    RS  Rio Grande do Sul    Porto Alegre

In [20]:
cp.index = cp['Sigla']
cp

      Sigla               Nome         Capital
Sigla
PE       PE         Pernambuco          Recife
RJ       RJ     Rio de Janeiro  Rio de Janeiro
PB       PB            Paraíba     João Pessoa
SP       SP          São Paulo       São Paulo
MG       MG       Minas Gerais  Belo Horizonte
CE       CE              Ceará       Fortaleza
AC       AC               Acre      Rio Branco
MA       MA           Maranhão        São Luís
PR       PR             Paraná        Curitiba
RS       RS  Rio Grande do Sul    Porto Alegre

In [24]:
cp['PE']

KeyError: 'PE'